# Archivos de sistema
.DS_Store
Thumbs.db

# Entorno virtual
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Streamlit
.streamlit/secrets.toml

# Firebase
*firebase*.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
